@media (max-width: 1024px) {
    .banner h2 {
        font-size: 1.8em;
    }

    .services h2 {
        font-size: 1.5em;
    }

    .service {
        font-size: 1em;
    }
    .service {
        margin: 0 10px;
        text-align: center; 
    }
}



@media (max-width: 800px) {
    header {
        padding: 10px;
    }

    header .logo h1 {
        font-size: 1.3em;
    }

    .banner h2 {
        font-size: 1.5em;
    }

    .service h3 {
        font-size: 1.1em;
    }
    .service{
        margin: 0px 10px;
        text-align: center;
    }
    .service p{
        text-align: center;
    }

    .services h2 {
        font-size: 1.4em;
    }
    .button{
       margin-left: 25%;
       margin-right: 25%;
       background-color: lightseagreen;
    }
    
    .col{
        padding: 20px;
        background-color: white;
        column-count: 4;
    }
}

